@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.kui-theme {
  #header-nav,
  footer {
    display: none;
  }
}

.small-caps {
  font-variant: small-caps;
}

/* Overrides for Markdown content */
article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-variant: small-caps;
  }

  h1,
  h3,
  h5 {
    font-family: "Source Serif 4", serif;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 24px;
  }

  h2 {
    font-size: 48px;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  h5 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  h6 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 16px;
  }

  ol {
    list-style-type: decimal;
    padding-left: 40px;

    > li {
      margin: 8px 0;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 40px;

    > li {
      margin: 8px 0;
    }
  }
}
